################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MultiSensorApp/MultiSensorAppFrontEnd/MultiSensorAppFrontEnd/bin/Debug/net6.0
/MultiSensorApp/MultiSensorAppFrontEnd/.vs/MultiSensorAppFrontEnd/config
