################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MultiSensorApp/MultiSensorApi/.vs/MultiSensorApi
