################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MultiSensorApp/MultiSensorApi/.vs/MultiSensorApi
/MultiSensorApp/MultiSensorApi/MultiSensorApi/obj
/MultiSensorApp/MultiSensorAppApi/MultiSensorAppApi/obj
/MultiSensorApp/MultiSensorAppFrontEnd/.vs/MultiSensorAppFrontEnd
/MultiSensorApp/MultiSensorAppFrontEnd/MultiSensorAppFrontEnd/bin/Debug/net6.0
/MultiSensorApp/MultiSensorAppFrontEnd/MultiSensorAppFrontEnd/obj/Debug/net6.0
/MultiSensorApp/MultiSensorAppFrontEnd/MultiSensorAppFrontEnd/obj
