@model User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" asp-controller="User" asp-action="Details">
    <div class="border m-2 p-4 formcreate">
        <h2>
           User Details
        </h2>

        <div asp-validation-summary="All"></div>

        <div class="container overflow-hidden">
            <div class="row gy-5">

                <div class="form-group col-md-12">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Insert name" disabled />
                <span asp-validation-for="Name" class="text-danger" ></span>
                </div>

                <div class="col-md-6">
                    <label for="select1">Area</label>
                    <select class="form-select" id="select1" aria-label="Default select example" disabled>
                        <option selected>Choose an option</option>
                        <option value="1">Administration</option>
                        <option value="2">Office</option>
                        <option value="3">Maintenance</option>
                    </select>
                </div>
               
                <div class="col-md-6">
                    <label for="select2">Function</label>
                    <select class="form-select" id="select" aria-label="Default select example" disabled>
                        <option selected>Choose an option</option>
                        <option value="1">Administrator</option>
                        <option value="2">Maintenance Tech</option>
                        <option value="3">Clerk</option>
                    </select>
                </div>

                 <div class="form-group col-md-6">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Insert email" disabled>
                </div>
            
                <div class="form-group col-md-6">
                    <label for="contact">Contact</label>
                    <input type="text" class="form-control" id="contact" placeholder="Insert contact" disabled>
                </div>

                <div>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
                </div>

            </div>
         </div>        
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}